*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: soyjak;
  src: url("./assets/fonts/space/SpaceMono-Bold.ttf");
}

@font-face {
  font-family: lexend;
  src: url("./assets/fonts/lexend/LexendDeca-Regular.ttf");
}
